//responsive variables
$screen1920: 1920px;
$screen1280: 1280px;
$screen1100: 1100px;
$screen1024: 1024px;
$screen980: 980px;
$screen768: 768px;
$screen700: 768px;
$screen576: 576px;
$screen480: 480px;
$screen320: 320px;
